// Colors

$yellow: #ffe600;
$light-grey: #eeeeee;
$dark-grey: #333333;
$medium-grey: #666666;
$light-medium-grey: #999999;
$blue: #3483fa;

// Grid

$xxxs: 4px;
$xxs: 12px;
$xs: 14px;
$s: 16px;
$s-m: 18px;
$m: 24px;
$m-l: 32px;
$l: 46px;
$xl: 82px;
$xxl: 180px;
$xxxl: 680px;
