.imageDetail {
    width: 100%;
    height: auto;
}

.condition {
    margin-top: 32px;
    font-size: 14px;
}

.title {
    margin-top: 16px;
    font-weight: bold;
    font-size: 24px;
}

.amount {
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 46px;
}

.description {
    margin-left: 32px;
}

.descriptionLabel {
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 28px;
}

.descriptionText {
    font-size: 16px;
}